<article class="post article">
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a>
  </div>
  <span class="post-text">{{post_text}}</span>
  <div class="meta">
    Posted by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>
