<article class="ticket article">
  <div class="title">
    <a href="/ticket/{{id}}">{{title}}</a>
  </div>
  <span class="ticket-text">{{ticket_text}}</span>
  <div class="meta">
    Created by {{user.username}} on {{format_date created_at}}
    |
    <a href="/ticket/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>