<article class="ticket article">
  <div class="title">
    <span>{{#if status}}OPEN{{else}}CLOSED{{/if}}</span>
    <span>{{user.username}} {{statuschange.statuschange}} <a href="/ticket/{{id}}">{{title}}</a></span>
  </div>
  <span class="ticket-text">{{ticket_text}}</span>
  <div class="meta">
    Created on {{format_date created_at}}
    |
    <a href="/ticket/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>
