<article class="ticket article">
  <div class="container">
    <div class="row">
      <div class="col">
        {{#if status}}
        Open
        {{else}}
        Closed
        {{/if}}
      </div>
      <div class="col">
        <div class="title">
          <a href="/ticket/{{id}}">{{title}}</a>
        </div>
      </div>
      <div class="col-3">
        {{ticket_text}}
      </div>
      <div class="col">
        {{priority.level}}
      </div>
      <div class="col">
        {{statuschange.statusChange}}
      </div>
      <div class="col">
        {{user.username}}
      </div>
      <div class="col">
        {{format_date created_at}}
      </div>
      <div class="col">
        <a href="/ticket/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
      </div>
    </div>
  </div>
</article>