<tr>
  <td>{{#if status}}Open{{else}}Closed{{/if}}</td>
  <td><a href="/ticket/{{id}}">{{id}}</a></td>
  <td><a href="/ticket/{{id}}">{{title}}</a></td>
  <td>{{type.type}}</td>
  <td>{{priority.level}}</td>
  <td>{{assign.username}}</td>
  <td>{{due_date}}</td>
</tr>