<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
<div class="statusDiv">
  <select name="status" id="status">
    <option value="true">Open</option>
    <option value="false">Closed</option>
  </select>
</div>
  <h4>
    Edit Ticket
  </h4>
  
  <form class="edit-ticket-form">
    <div>
      <input name="ticket-title" type="text" value="{{ticket.title}}" />
    </div>
    
    <div>
      <textarea name="ticket-text">{{ticket.ticket_text}}</textarea>
    </div>
    <div>
      Created by you on {{format_date ticket.created_at}}
      |
      <a href="/ticket/{{ticket.id}}">{{ticket.comments.length}} {{format_plural "comment" ticket.comments.length}}</a>
    </div>
    <button type="submit">Save Ticket</button>
    <button type="button" class="close-ticket-btn" id="closeBtn" onclick="closeTicket()">Close Ticket</button>
    <button type="button" class="reopen-ticket-btn" id="reopenBtn" onclick="reopenTicket()">Open Ticket</button>
    <button type="button" class="delete-ticket-btn" id='deleteBtn'>Delete ticket</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add Comment</button>
  </div>
</form>

{{> comments ticket.comments}}

<script src="/javascript/edit-ticket.js"></script>
<script src="/javascript/delete-ticket.js"></script>
<script src="/javascript/comment.js"></script>
<script src="/javascript/close-ticket.js"></script>
<script src="/javascript/reopen-ticket.js"></script>
