<div class="homepage container">
  <div class="row justify-content-start">
    <div class="col-md-9">
      <h4 class="page-title">Recent Updates:</h4>
      <ol class="ticket-list">
        {{#each tickets as |ticket|}}
        <li>
          {{> recent-info ticket }}
        </li>
        {{/each}}
      </ol>
    </div>

    <div class="col-md-3">
      <h4 class="page-title">Summary:</h4>
      <div class="summary-list">
        <div class="row">
          <div class="col-12 card"><i class="bi bi-files"></i>{{tickets.[0].total_tickets}} Total Tickets</div>
          <div class="col-12 card"><i class="bi bi-people"></i>{{tickets.[0].total_users}} Total Users</div>
          <div class="col-12 card"><i class="bi bi-journal-text"></i> Open Tickets</div>
          <div class="col-12 card"><i class="bi bi-check2-circle"></i> Closed Tickets</div>
          <div class="col-12 card"><i class="bi bi-file-earmark-text"></i>{{tickets.[0].critical_count}} Critical Priority Tickets</div>
          <div class="col-12 card"><i class="bi bi-file-earmark-text"></i>{{tickets.[0].high_count}} High Priority Tickets</div>
          <div class="col-12 card"><i class="bi bi-file-earmark-text"></i>{{tickets.[0].moderate_count}} Moderate Priority Tickets</div>
          <div class="col-12 card"><i class="bi bi-file-earmark-text"></i>{{tickets.[0].low_count}} Low Priority Tickets</div>
        </div>
      </div>
    </div>
  </div>
</div>

