<div class="homepage grid">
  <div class="row">
            {{!--<div class="col-lg-4 card summary-card text-end shadow"><span class="summary-number">{{tickets.[0].total_tickets}}</span>Total Tickets</div>
             <div class="col-lg-4 card summary-card text-end shadow"><span class="summary-number">{{tickets.[0].open_tickets}}</span>Open Tickets</div>
             <div class="col-lg-4 card summary-card text-end shadow"><span class="summary-number">{{tickets.[0].closed_tickets}}</span>Closed Tickets</div> 
            <div class="col-lg-4 card summary-card text-end shadow"><span class="summary-number">{{tickets.[0].total_users}}</span>Total Users</div>--}}
            <div class="col-sm card card-critical summary-card text-end shadow text-light"><span class="summary-number text-light">{{tickets.[0].critical_count}}</span>Critical Priority Tickets</div>
            <div class="col-sm card card-high summary-card text-end shadow text-light"><span class="summary-number text-light">{{tickets.[0].high_count}}</span>High Priority Tickets</div>
            <div class="col-sm card card-moderate summary-card text-end shadow text-light"><span class="summary-number text-light">{{tickets.[0].moderate_count}}</span>Moderate Priority Tickets</div>
            <div class="col-sm card card-low summary-card text-end shadow text-dark"><span class="summary-number text-dark">{{tickets.[0].low_count}}</span>Low Priority Tickets</div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4 class="page-title">Recent Updates:</h4>
      <ol class="ticket-list">
        {{#each tickets as |ticket|}}
        <li>
          {{> ticket-home ticket }}
        </li>
        {{/each}}
      </ol>
    </div>
  </div>
</div>

