<div class="container">
  <div class="row">
    <div class="col">
      <span>Recent Updates:</span>
      <ol class="ticket-list">
        {{#each tickets as |ticket|}}
        <li>
          {{> recent-info ticket }}
        </li>
        {{/each}}
      </ol>
    </div>
    
    <div class="col">
    <span>Summary:</span>
    <ol class="summary-list">
      <i class="bi bi-pie-chart"> Placeholder</i>
      <ul>{{ticket}} {{id}} critical priority tickets</ul>
      <ul>{{ticket.critical_count}} high priority tickets</ul>
      <ul>{{comments.length}} moderate priority tickets</ul>
      <ul>{{low_count}} low priority tickets</ul>
    </ol>
    </div>
  </div>
</div>

