<div class="homepage grid">
  <div class="row">
    {{!--<div class="col-lg-4 card summary-card text-start shadow"><div class="summary-number">{{tickets.[0].total_tickets}}</div>Total Tickets</div>
      <div class="col-lg-4 card summary-card text-start shadow"><div class="summary-number">{{tickets.[0].open_tickets}}</div>Open Tickets</div>
      <div class="col-lg-4 card summary-card text-start shadow"><div class="summary-number">{{tickets.[0].closed_tickets}}</div>Closed Tickets</div> 
    <div class="col-lg-4 card summary-card text-start shadow"><div class="summary-number">{{tickets.[0].total_users}}</div>Total Users</div>--}}
    <div class="col-sm card card-critical summary-card text-start shadow text-light">
      <div class="summary-number text-light">{{tickets.[0].critical_count}}</div>
      <div class="summary-text">Critical Priority Tickets</div>
    </div>
    <div class="col-sm card card-high summary-card text-start shadow text-light">
      <div class="summary-number text-light">{{tickets.[0].high_count}}</div>
      <div class="summary-text">High Priority Tickets</div></div>
    <div class="col-sm card card-moderate summary-card text-start shadow text-light">
      <div class="summary-number text-light">{{tickets.[0].moderate_count}}</div>
      <div class="summary-text">Moderate Priority Tickets</div>
    </div>
    <div class="col-sm card card-low summary-card text-start shadow text-light">
      <div class="summary-number text-light">{{tickets.[0].low_count}}</div>
      <div class="summary-text">Low Priority Tickets</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4 class="page-title">Recent Updates:</h4>
      <ol class="ticket-list">
        {{#each tickets as |ticket|}}
        <li>
          {{> ticket-home ticket }}
        </li>
        {{/each}}
      </ol>
    </div>
  </div>
</div>
