<div class="container">
  <div class="row">
    <div class="col">
      <span>Recent Updates:</span>
      <ol class="ticket-list">
        {{#each tickets as |ticket|}}
        <li>
          {{> recent-info ticket }}
        </li>
        {{/each}}
      </ol>
    </div>

    <div class="col">
      <span>Summary:</span>
      <ol class="summary-list">
        <ul>{{tickets.[0].critical_count}} critical priority tickets</ul>
        <ul>{{tickets.[0].high_count}} high priority tickets</ul>
        <ul>{{tickets.[0].moderate_count}} moderate priority tickets</ul>
        <ul>{{tickets.[0].low_count}} low priority tickets</ul>
        <br>
        <ul>{{tickets.length}} total tickets</ul>
        <ul>{{user.length}} total users</ul>
      </ol>
    </div>
  </div>
</div>

