<ol class="ticket-list">
  {{#each ticket}}
  <li>
    {{> recent-info}}
  </li>
  {{/each}}
</ol>

{{!-- <ol class="ticket-list">
  {{#each priority}}
  <li>
    {{> priority-info}}
  </li>
  {{/each}}
</ol> --}}

Test <br/>
ID: {{priority.id}} <br/>
ID2: {{id}} <br/>
Level: {{priority.level}} <br/>
Level2: {{level}} <br/>
Username: {{ticket.username}} <br/>
Username2: {{user.username}} <br/>
Comment: {{comment.id}} <br/>
Comment2: {{comments.length}} <br/>
Title: {{title}} <br/>
Title2: {{priority.title}} <br/>
Title3: {{ticket.title}} <br/>
Created: {{created_at}} <br/>

<article class="ticket article">
  <div class="title">
    <a href="/ticket/{{id}}">{{title}}</a>
  </div>
  <span class="ticket-text">{{ticket_text}}</span>
  <div class="meta">
    Created by {{user.username}} on {{format_date created_at}}
    |
    <a href="/ticket/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>