<h2>Profile</h2>

<section>
  <ul>
    <span>ID</span>
    {{id}}
    <span>Username</span>
    {{username}}
    <span>Email</span>
    {{email}}
    <span>Password</span>
    {{password}}
    <span>Account Role</span>
    {{role_id}}
  </ul>
</section>